*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  }


 .header-box {
   height: 70px;
   background-color: #dda0dd;
   margin: 0 10px;
   flex-basis:140px;
 }


  .header-box:first-child{
   margin-right: auto;
 }

 main{
  width: 1000px;
  background-color: #90ee90;
  margin: 0 auto;
  display: flex;
  justify-content:end;
 }
 
 .main{
   width: 700px;
   background-color: #228b22;
   padding: 20px;
   display: flex;
   flex-wrap:wrap;
 }
 
 .main-box{
   height: 130px;
   background-color: #f0e68c;
   margin: 10px;
   flex-basis:200px;
   flex-grow:1;
 }

 footer{
   width: 100%;
   padding: 20px;
   background-color: #6495ed;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

 }

 .footer-box{
   height: 40px;
   margin: 10px;
   background-color: #87cefa;
   flex-basis:45%;
   max-width: 600px;
 }